@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #1c2e40; /* superior-blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1721; /* even darker than superior-blue.dark */
    --foreground: #f0f3f5; /* superior-mist.light */
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .glass-dark {
    background: rgba(28, 46, 64, 0.3);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}